@charset "UTF-8";

:root{
    background-color: white;
}

/**{
    border: 1px solid black !important;
}
*/
.titulo-principal, .titulo-secundario, .titulo-terciario{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursiva;
    font-weight: 900;

}
.apresentacao__da__galeria{
    padding: 32px 23px 0px 9px; 
}

.titulo-principal{
    color: black;
    font-size: 3.75em;
    line-height: 55px;
}

.texto-da-pagina{
    font-family: 'Outfit', sem serifa;
    padding: 32px 0px 32px 0px;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 28px;   
}

/*  background-image: url(imagens/iconelocalizacao.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: contain;
    height: 72px;
    width: 260px;
}
*/

.apresentacao__dia__na__galeria{
    padding: 0px 16px;
}

.apresentacao__dia__na__galeria-imagem-1{
    padding-top: 120px ;
}

.titulo-secundario{
    font-size: 3.125em;
    line-height: 45px;
    padding: 25px 0px 0px 0px;
}

.apresentacao__dia__na__galeria-imagem2{
    padding: 16px 0px;
}

.apresentacao__dia__na__galeria-convite{
    background-color: black;
    color:white;
    padding: 48px 24px 24px 24px;
}

.rodapedagaleria{
    background-color: black;
    color: white;  
    padding: 48px 32px 48px 32px;
    margin-top: 120px;
}

.titulo-terciario{
    font-size: 1.5em;
    padding: 0px 232.95px 38px 0px;
}

.texto-secundario{
    font-family: 'Outfit', sem serifa;
    font-style: normal;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.8px; 
}