@charset "UTF-8";

:root{
    background-color: white;
   
}

/**{
    border: 1px solid red !important;
}*/

.titulo-principal, .titulo-secundario, .titulo-terciario{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;

}
.apresentacao__da__galeria{
    padding: 32px 23px 0px 9px; 
}

.titulo-principal{
    color: black;
    font-size: 3.75em;
    line-height: 55px;
}

.texto-da-pagina{
    font-family: 'Outfit', sans-serif;
    padding: 32px 0px 32px 0px;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 28px;   
}

.apresentacao__dia__na__galeria{
    padding: 0px 16px;
    
}

.apresentacao__dia__na__galeria-tablet-segundo-bloco{
    margin-bottom: 60px;
}

.apresentacao__dia__na__galeria-imagens{
    background-image: url(imagens/galeria.jpg);
    width: 343px;
    height: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-top: 120px ;
}

.titulo-secundario{
    font-size: 3.125em;
    line-height: 45px;
    padding: 25px 0px 0px 0px;
}

.apresentacao__dia__na__galeria-imagem2{
    padding: 16px 0px;
}


.apresentacao__dia__na__galeria-convite{
    background-color: black;
    color:white;
    padding: 48px 24px 24px 24px;
}

.rodapedagaleria{
    background-color: black;
    color: white;  
    padding: 48px 32px 48px 32px;    
}

.titulo-terciario{
    font-size: 1.5em;
    padding: 0px 0px 38px 0px;
}

.texto-secundario{
    font-family: 'Outfit', sem serifa;
    font-style: normal;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.8px; 
}

.rodape__galeria__de__artes-logos a{
    margin-right: 15px;
    
}

.logos {
    position: relative;
    top: 10px;
}


@media screen and (min-width: 768px) {

    .cabecalho{
        display: flex;
    }

    .obra-observadores{
        display: none;
    }

    .obra-observadores-tablet{
        background-image: url(imagens/tableobra1.png);
        background-repeat: no-repeat;
        min-width: max-content;
        background-size: contain;
        min-width: 437px;
        min-height: 700px;
    }

    .titulo-principal{
        color: black;
        font-size: 4.375em;
        line-height: 65px;
    }

    .apresentacao__dia__na__galeria{
        padding: none;
    }
    
    .apresentacao__dia__na__galeria-imagem-1{
        padding-top: none ;
    }

    .apresentacao__da__galeria{
        position: absolute;
        padding: none;
        top: 145px;
        left: 389px;
        right: 40px;
    }

    .apresentacao__dia__na__galeria {
        padding: none !important;
    }

    .apresentacao__dia__na__galeria-tablet{
        display: flex;
        flex-direction: row-reverse;
       justify-content: space-between;
        padding-top: 120px;
        margin-right: 24px;
        background-size: cover;

    }

    .apresentacao__dia__na__galeria-imagens{
        background-image: url(imagens/tabletgaleria.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
    }

    .apresentacao__dia__na__galeria-conteudo{
        padding: 11px 0px 0px 23px;
        justify-items: center;
    }

    .titulo-secundario{
        width: 223px;
        height: 135px;  
    }

    .texto-da-pagina{
        width: 223px;
        height: 140px; 
    }

    .apresentacao__dia__na__galeria-tablet-segundo-bloco{
        display: grid;   
        grid-template-columns: 50% 50%; 
        justify-content: space-between;
        padding: 11px 24px 120px 23px;
        min-height: 720px; 
        min-width: 689px
       
    }

    .imagem-banco{
        display: flex;
        height: 100%;
        
    }

    .apresentacao__dia__na__galeria-tablet-segundo-bloco-colunas{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1rem;
        padding-left: 1rem;

    }

    .logos {
        margin: none;
    }

    .apresentacao__dia__na__galeria-convite{
        padding: none;
        justify-items: center;
        background-size: contain;
        min-width: 280px;
        min-height: 396px;
    }

    .rodapedagaleria{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        background-size: contain;
        margin-top: none;
        height: 100%;
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .rodape-conteudo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
    .rodape_conteudo{
        display: flex;
        flex-direction: row;
    }

    .texto-secundario{
        padding: none;
        padding-right: 100px ;
        width: 281px;
        height: 104px;

    }

    .rodape__galeria__de__artes-logos{
        display: flex;
        flex-direction: row;
        justify-content: start;
        justify-items: start;
        padding: none;
    }
    @media screen and (min-width: 1024px) {

    .cabecalho{
        display: flex;
        flex-direction: grid;
        grid-template-columns: 33% 33% 33%;
        
        }

    .fundo-cabecalho{
        width: 50%;
        background-color: black;
        position: relative;

        } 


    .titulo-principal{
        color: white;
        position: absolute;
        left: -200px;
        top: 100px;
    
    }

    .obra-observadores-tablet{
        background-image: url(imagens/desktopobra1.jpg);
        background-repeat: no-repeat;
        justify-content: flex-start;
        width: 100%;
        background-size: contain;
    }
   
    .apresentacao__da__galeria-desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        
    }


    .imagem-banco{
        display: flex;
        height: 100%;
            
        }
    }

    .desktop-conteudo{
        position: absolute;
        top: 50px;
        right: 160px;

    }

    .apresentacao__dia__na__galeria-imagens{
        background-image: url(imagens/desktopgaleria.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
    }

    .apresentacao__dia__na__galeria-conteudo{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }




}



}