@charset "UTF-8";

:root{
    background-color: white;
   
}

*{
    border: 1px solid red !important;
}

.titulo-principal, .titulo-secundario, .titulo-terciario{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;

}
.apresentacao__da__galeria{
    padding: 32px 23px 0px 9px; 
}

.titulo-principal{
    color: black;
    font-size: 3.75em;
    line-height: 55px;
}

.texto-da-pagina{
    font-family: 'Outfit', sans-serif;
    padding: 32px 0px 32px 0px;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 28px;   
}

/*  background-image: url(imagens/iconelocalizacao.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: contain;
    height: 72px;
    width: 260px;
}
*/

.apresentacao__dia__na__galeria{
    padding: 0px 16px;
    
}

.apresentacao__dia__na__galeria-imagens{
    background-image: url(imagens/galeria.jpg);
    width: 343px;
    height: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-top: 120px ;
}

.titulo-secundario{
    font-size: 3.125em;
    line-height: 45px;
    padding: 25px 0px 0px 0px;
}

.apresentacao__dia__na__galeria-imagem2{
    padding: 16px 0px;
}

.apresentacao__dia__na__galeria-convite{
    background-color: black;
    color:white;
    padding: 48px 24px 24px 24px;
}

.rodapedagaleria{
    background-color: black;
    color: white;  
    padding: 48px 32px 48px 32px;
    margin-top: 120px;
}

.titulo-terciario{
    font-size: 1.5em;
    padding: 0px 232.95px 38px 0px;
}

.texto-secundario{
    font-family: 'Outfit', sem serifa;
    font-style: normal;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.8px; 
}

@media screen and (min-width: 768px) {

    .cabecalho{
        display: flex;
    }

    .obra-observadores{
        display: none;
    }

    .obra-observadores-tablet{
        background-image: url(imagens/tableobra1.png);
        background-repeat: no-repeat;
        min-width: max-content;
        background-size: contain;
        min-width: 437px;
        min-height: 700px;
    }

    .titulo-principal{
        color: black;
        font-size: 4.375em;
        line-height: 65px;
    }

    .apresentacao__dia__na__galeria{
        padding: none;
    }
    
    .apresentacao__dia__na__galeria-imagem-1{
        padding-top: none ;
    }

    .apresentacao__da__galeria{
        position: absolute;
        padding: none;
        top: 145px;
        left: 389px;
        right: 40px;
    }

    .apresentacao__dia__na__galeria {
        padding: none !important;
    }

    .apresentacao__dia__na__galeria-tablet{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 120px;
        padding-right: 24px;
        background-size: cover;

    }

    .apresentacao__dia__na__galeria-imagens{
        background-image: url(imagens/tabletgaleria.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
    }

    .apresentacao__dia__na__galeria-conteudo{
        padding: 11px 68px 0px 23px;
        justify-items: center;
    }

    .titulo-secundario{
        width: 223px;
        height: 135px;  
    }

    
    .texto-da-pagina{
        width: 223px;
        height: 140px; 
    }


    .apresentacao__dia__na__galeria-tablet-segundo-bloco{
        display: grid;   
        grid-template-columns: 50% 50%; 
        justify-content: space-between;
        padding: 11px 24px 120px 23px;
        min-height: 720px; 
        min-width: 689px
       
    }

    .imagem-banco{
        display: flex;
        height: 100%;
    }


    .apresentacao__dia__na__galeria-tablet-segundo-bloco-colunas{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }

    .apresentacao__dia__na__galeria-convite{
        padding: none;
        justify-items: center;
        background-size: contain;
        min-width: 280px;
        min-height: 396px;
    }

    .rodapedagaleria{
        
        width: 768px;
        height: 216px;

    }
    @media screen and (min-width: 1440px) {
}
}